<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="tr.org.liderahenk.liderconsole.commands.category"
            name="%commands.category">
      </category>     
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.CheckPackageTask"            
            name="%command.checkpackage.task">
      </command>    
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.PackageArchiveTask"            
            name="%command.packagearchive.task">
      </command>    
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.PackagesTask"            
            name="%command.addremovepackage.task">
      </command>     
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.PackageManagerTask"            
            name="%command.package.task">
      </command>
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.PackageSourcesTask"            
            name="%command.task">
      </command>
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.GetExecutionInfoTask"            
            name="%command.getExecutionInfo.task">
      </command>    
   </extension>
   
	<extension
       point="org.eclipse.ui.handlers">
       <handler
            class="tr.org.liderahenk.packagemanager.handlers.PackageArchiveTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.PackageArchiveTask">
      </handler>
       <handler
            class="tr.org.liderahenk.packagemanager.handlers.GetExecutionInfoTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.GetExecutionInfoTask">
      </handler>
       <handler
            class="tr.org.liderahenk.packagemanager.handlers.PackageSourcesTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.PackageSourcesTask">
      </handler>
       <handler
            class="tr.org.liderahenk.packagemanager.handlers.PackageManagerTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.PackageManagerTask">
      </handler>
       <handler
            class="tr.org.liderahenk.packagemanager.handlers.PackagesTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.PackagesTask">
      </handler>
       <handler
            class="tr.org.liderahenk.packagemanager.handlers.CheckPackageTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.CheckPackageTask">
      </handler>
  </extension>
  
  <extension
         point="org.eclipse.ui.menus">
         
		<menuContribution
			locationURI="popup:tr.org.liderahenk.liderconsole.menus.ApplyTask?after=additions">
			<menu
				id="tr.org.liderahenk.liderconsole.menus.PackageManager"
				label="%menu.label.package.manager"
				icon="icons/16/package-managament.png">
			</menu>
		</menuContribution>
         
	<!-- Add extension point contribution for "task execution" dialogs -->
	<menuContribution
      		allPopups="false"
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.PackageManager?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.PackagesTask"
                  id="tr.org.liderahenk.liderconsole.commands.PackagesTask"
                  tooltip="%command.addremovepackage.task">
                  	<visibleWhen>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isLdapUserSelected">
				             	<equals
					                   value="false">
					            </equals>
				          	</with>
					</visibleWhen>
           		</command>
		</menuContribution>
		
         
	<!-- Add extension point contribution for "task execution" dialogs -->
	<menuContribution
      		allPopups="false"
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.PackageManager?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.GetExecutionInfoTask"
                  id="tr.org.liderahenk.liderconsole.commands.GetExecutionInfoTask"
                  tooltip="%command.getExecutionInfo.task">
                  	<visibleWhen>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isLdapUserSelected">
				             	<equals
					                   value="false">
					            </equals>
				          	</with>
					</visibleWhen>
           		</command>
		</menuContribution>
      	<!-- Add extension point contribution for "task execution" dialogs -->
		<menuContribution
      		allPopups="false"
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.PackageManager?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.PackageManagerTask"
                  id="tr.org.liderahenk.liderconsole.commands.PackageManagerTask"
                  tooltip="%command.package.task">
				  	<visibleWhen>
				  		<and>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isSingleEntrySelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isAhenkSelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
			          	</and>
					</visibleWhen>
           		</command>
		</menuContribution>
		
      	<!-- Add extension point contribution for "task execution" dialogs -->
		<menuContribution
      		allPopups="false"
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.PackageManager?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.PackageSourcesTask"
                  id="tr.org.liderahenk.liderconsole.commands.PackageSourcesTask"
                  tooltip="%command.task">
				  	<visibleWhen>
				  		<and>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isSingleEntrySelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isAhenkSelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
			          	</and>
					</visibleWhen>
           		</command>
		</menuContribution>
         
	<!-- Add extension point contribution for "task execution" dialogs -->
		<menuContribution
      		allPopups="false"
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.PackageManager?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.PackageArchiveTask"
                  id="tr.org.liderahenk.liderconsole.commands.PackageArchiveTask"
                  tooltip="%command.packagearchive.task">
				  	<visibleWhen>
				  		<and>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isSingleEntrySelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isAhenkSelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
			          	</and>
					</visibleWhen>
           		</command>
		</menuContribution>
		
      	<!-- Add extension point contribution for "task execution" dialogs -->
		<menuContribution
      		allPopups="false"
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.PackageManager?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.CheckPackageTask"
                  id="tr.org.liderahenk.liderconsole.commands.CheckPackageTask"
                  tooltip="%command.task"> 
                  	<visibleWhen>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isLdapUserSelected">
				             	<equals
					                   value="false">
					            </equals>
				          	</with>
					</visibleWhen>
           		</command>
		</menuContribution>
  </extension>
  	
</plugin>